@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{/*This is where I define my color pallette*/
    
    --primaryColor:     #ffffff;
    --primaryText:      #000000;
    --secondaryText:    #757575;
    --thinBorder:  	    #D3D3D3;
    --primaryAccent:    #BE8ABF;

    /* Secondary accents */
    --pastelRed:        #FEA5AD;
    --pastelPeach:      #F8C3AF;
    --pastelPink:       #EA9ABB;
}
@keyframes opacious { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
@keyframes flying-nav{
    0% {
        opacity: 0;
        transform: translate(-400px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes flying-left{
    0%{
        transform: translate(-540px);
    }
    100%{
        transform: translate(0px);
    }
}
@keyframes flying-right{
    0%{
        transform: translate(540px);
    }
    100%{
        transform: translate(0px);
    }
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
html{
    line-height: 1.25;
    scroll-behavior:smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--primaryText);
}
div{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--primaryText);
}
a:hover{
    font-weight: 600;
}

input[type="text"], input[type="email"] {
    border: none;
}
input[type="text"]:focus, input[type="email"]:focus{
    outline: none;
}
button{
    background: none;
    color: var(--primaryText);
    border: none;
    font: inherit;
}
p{
    font-size:1rem;
}
/* GLOBAL CLASSES SECTION */
/* - intended to contain frequently used classes */

.cleaner{   /*WARNING: DANGEROUS CLASSES*/
            /*Essential if one plans to use float: left; or float: right; css properties*/
            /*Intended never to be used but better to be available just in case*/
    clear: both;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}           /*END OF WARNING*/
.border-btm{
    transition: 700ms;
    border-bottom: 1px solid white;
}
.border-top{
    transition: 700ms;
    border-top: 1px solid white;
}
:hover.border-btm{
    border-bottom: 1px solid var(--thinBorder);
}
:hover.border-top{
    border-top: 1px solid var(--thinBorder);
}
.current-page{
    color: var(--secondaryText);
}
.emphasize{
    font-weight: 600;
}
.color-text{
    color: var(--pastelPink );
}
/* GLOBAL CLASSES SECTION */

/*TOP*/
header{
    margin-bottom: 60px;
}
.top-block{
    width: 100%;
    min-width: 250px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.phone-ribbon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position:relative;
}

.top-block h1{
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
}
#logo{
    position:absolute;
    top:1rem;
    left: calc(50% - 1.5rem * 4);
    top: 1.6rem;
}
.this{
    padding-bottom: 0.2rem;
    border-bottom: 1px solid black;
}
nav{
    animation: flying-nav 700ms;
    --width: calc(100%);
}
nav ul{
    position:relative;
    display: flex;
    flex-flow: row wrap;
    
}
nav ul li{ 
    list-style: none;
    margin-right: 1rem;
}

.tooltip::after{
    content:'';
    display: inline-block;
    position: absolute;
    width: 0;
    font-size: 0.75rem;
    bottom: -4.5rem;
    left: 0;
    color: #ffffff;
    transition: all ease 700ms 250ms;
}
.tooltip:hover::after{
    color:#000000;
    width:max-content;
}
#home:hover::after{
    content: 'Return to the homepage';
}
#bespoke:hover::after{
    content: 'Discover our range of bespoke clothing options';
}
#consult:hover::after{
    content: 'Schedule an in-person or online consultation with us';
}
#contact:hover::after{
    content: ' Get in touch with any questions or inquiries you may have';
}
.search {
    width: fit-content;
    border-bottom: 1px solid var(--secondaryText);
}



.search input[type="text"]::placeholder{
    color: #fff;
}
.search input[type="text"]:focus::placeholder{
    color: var(--secondaryText);
    
}/*TOP*/

/* MAIN SECTION, A GALLERY GRID*/
main{
    width: 100%;
}
.cover{
    display: grid;
    grid-template-columns: 0% auto;
    grid-template-rows: 45rem;/*720px*/
    color:var(--primaryColor);
    will-change: transform;
    transition: all 700ms, color 100ms;
    overflow: hidden;
}
.cover:hover{
    grid-template-columns: 38.197% auto;
    grid-template-rows: 45rem;/*720px*/
    color: var(--primaryText);
    transition: all 700ms, color 700ms 500ms;
    overflow: hidden;
}
.grid{
    display: grid;
}
.right-cover{
    display: grid;
    grid-column: 2 / 3;
    position:relative;
    transition: width 0.3s ease-in-out;
    animation: flying-right 700ms ease;
}
.cta{/* cta = call to action*/
    position:             relative;
    place-self:             center;
    text-align:               left;
    animation: opacious 700ms ease;
}

.cta > a:hover{
    font-weight: inherit;
}

.cta h2, .cta p{
    color: white;
    transition: 300ms;
}
.cta p{
    font-size: 1rem;
}

.cta:hover h2, .cta:hover p {
    color: var(--primaryColor);
}

.cta::after, .cta-black::after, .phone-ribbon::after, .underline::after{/*creates a block element inside the .cta class*/
    content: '';               /*at first it's invisible because width 0      */
    position: absolute;        /*but after, the width transitions to 100%     */
    width: 0;
    height: 1px;
    left: 50%;
    bottom:-10px;              /*quirk of ::after pseudo-class creating an element after */
    background-color: var(--primaryColor);/*the content (and not after the element itself)*/ 
    transition: all ease-in-out 200ms;
}
.cta-black::after,.phone-ribbon::after, .underline::after{
    background-color: var(--primaryText);
}
.cta:hover::after, .cta-black:hover::after, .phone-ribbon:hover::after, .underline:hover::after{
    width: 100%;
    left: 0;
}
.cover-img{
    background-image: url("../img/cover.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    place-self: stretch;
}
.left-cover{
    display: grid;  
    grid-column: 1/2;
    transition: opacity 700ms ease;
    animation:flying-left 700ms ease;    
    padding: 1.15rem;
}
aside{
    place-self: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
aside > h1{
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
aside > p, aside > a{
    font-size: 1rem;
}
.cta-black{
    width: fit-content;
    text-align: center;
    position:relative;
    margin: 1rem auto;
}
.cta-black > a{
    transition:inherit;
    color: inherit;
}
.cta-black > a:hover{
    font-weight: inherit;
    color: inherit;
}
.filter{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 700ms;
    background-color: rgba(0, 0, 0, 0.1);
}   
:hover.cover .filter{
    background-color: rgba(0, 0, 0, 0.5);
}

.center{
    width: 61.803%;
    margin: 0 auto;
}
.whatis{
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.whatis > h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;

}
.whatis > p{
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
}
.left{
    display: grid;
    grid-template-columns: 38.197% auto;
    grid-auto-rows: min-content;
}
.right{
    display: grid;
    grid-template-columns: 61.803% auto;
    grid-auto-rows: min-content;
}
.center-grid{
    display: grid;
    grid-template-columns: 38.197% auto 38.197%;
    grid-auto-rows: min-content;
}
.right-image{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.right-text{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.center-left{
    grid-column: 1/2;
    grid-row: 1/2;
}
.center-right{
    grid-column: 3/4;
    grid-row: 1/2;
}
.left-text, .right-text{
    place-self: center;
    text-align: center;
    width: 68.803%;
    padding: 5rem 0;
}
.left-image{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.left-text{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.left-image img, .right-image img{
    max-width: 100%;
    max-height: auto;
}

.left-text p, .right-text p{
    font-size: 1rem;
    margin: 2rem 3rem;
}
.left-text h2, .right-text h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: 600;
}

/*FOOTER SECTION */
footer{
    margin-top: 5rem;
    border-top: 1px solid var(--thinBorder);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 1rem 0;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#copyright{
    width: 38.197%;
    padding-left: 2rem;
}

footer h3{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    color: var(--secondaryText);
    margin-right: 1rem;
}
footer p{
    color: var(--secondaryText);
}
footer ul li{
    padding: 0.3rem;
}
footer a{
    font-size: 1rem;
}
#footer-icons i{
    font-size: 1rem;
    margin: 0 0.5rem;
    color: var(--secondaryText);
}
#footer-links{
    width: 61.803%;
    justify-content: space-between;
    padding-right: 2rem;
}
.spacer-1{
    width: 1rem;
}
#portfolio{
    width: 61.803%;
    margin: 0 auto;
}
#portfolio p{
    font-size: 0.75rem;
}
#portfolio .left-image, #portfolio .right-image{
    filter: drop-shadow(0.5rem 0.5rem 0.1rem rgba(0,0,0,0.6));
}
.underline{
    position: relative;
    width: 20%;
    text-align: center;
    margin: 1rem auto;
}
#contact-form{
    width: 61.803%;
    margin: 0 auto;
}
#contact-form form{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-form input[type="text"], #contact-form input[type="email"]{
    border-bottom: 1px solid var(--primaryText);
    margin: 1rem;
}
/*
footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer form > input[type="email"]{
    border-bottom: 1px solid var(--primaryText);
}
footer form > input[type="text"]{
    border-bottom: 1px solid var(--primaryText);
}*/



@media (max-width: 800px) {
    .top-block{
        flex-direction: column;
        align-items: center;
    }
    #logo{
        padding-right: 0;
    }
}